.avatar {
	width: 3rem;
	height: 3rem;
	border-radius: 8px;
}

.avatarWithBorder {
	width: calc(
		3rem + 12px
	); /* calc se baseia na soma das propriedades border e outline, onde pego o valor de cada lateral (esq e dir) e somo ( border(lateral esq + lateral dir) + outline(lateral esq + lateral dir) = 12px */
	height: calc(
		3rem + 12px
	); /* calc se baseia na soma das propriedades border e outline, onde pego o valor de cada lateral (cima e baixo) e somo ( border(lateral cima + lateral baixo) + outline(lateral cima + lateral baixo) = 12px */
	border-radius: 8px;
	border: 4px solid var(--gray-800);
	outline: 2px solid var(--green-500);
}
